$mobile-max-break: 768px;

#save-product {
  padding: 10px;

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (min-width: $mobile-max-break) {
      display: grid;
      grid-template-areas:
        "name name"
        "description description"
        "image price"
        ". save-button";
    }

    div {
      &.name-input {
        grid-area: name;
      }

      &.decription-input {
        grid-area: description;
      }

      &.image-input {
        grid-area: image;
      }

      &.price-input {
        grid-area: price;
      }

      &.save-button {
        grid-area: save-button;

        @media (min-width: $mobile-max-break) {
          justify-self: end;
          width: 50%;
        }
      }
    }
  }
}
